/* FONTS FACE */
@font-face {
    font-family: 'Libre Franklin';
    src: url('../fonts/LibreFranklin-Regular.woff2') format('woff2'),
        url('../fonts/LibreFranklin-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Tenor Sans';
    src: url('../fonts/TenorSans.woff2') format('woff2'),
        url('../fonts/TenorSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Source Serif Pro';
    src: url('../fonts/SourceSerifPro-Regular.woff2') format('woff2'),
        url('../fonts/SourceSerifPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Libre Franklin';
    src: url('../fonts/LibreFranklin-Bold.woff2') format('woff2'),
        url('../fonts/LibreFranklin-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* CUSTOM PROPERTY */
:root {
    --franklin-font: "Libre Franklin", "Arial", sans-serif;
    --tenor-font: "Tenor Sans", "Arial", sans-serif;
    --source-font: "Source Serif Pro", "Arial", sans-serif;
    --black-color: #000;
    --nine-color: #999;
    --six-color: #666;
    --line-color: #e6e6e6;
    --brand-color: #141414;
    --white-color: #fff;
}

/* GLOBAL STYLES */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: var(--source-font);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--six-color);
    background-color: var(--white-color);
}
/* CONTAINER STYLES */
.container {
    width: 100%;
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}


/* SITE HEADER STYLES */
.site-header {
    padding: 30px 0;
    border-bottom: 1px solid var(--line-color);
}
.site-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.site-logo-link {
    display: flex;
}
.site-logo-img {
    width: 136px;
    height: 30px;
    object-fit: contain;
    display: block;
}
.sitenav {
    padding-right: 32px;
}
.sitenav-list {
    display: flex;
    list-style: none;
}
.sitenav-item:not(:last-child) {
    margin-right: 40px;
}
.sitenav-link {
    font-family: var(--franklin-font);
    font-size: 14px;
    color: var(--black-color);
    text-decoration: none;
    text-transform: capitalize;
}

